{{! Template from `cargo` with (MIT OR Apache-2.0) license }}
{{! Repo URL: git+https://github.com/rust-lang/crates.io.git }}
{{#each (parse-license @license) as |part|}}
  {{#if part.isKeyword}}
    <small>{{part.text}}</small>
  {{else if part.link}}
    <a href={{part.link}} rel="noreferrer">
      {{part.text}}
    </a>
  {{else}}
    {{part.text}}
  {{/if}}
{{/each}}